
input, textarea {
     width: 100%;
     border: none;
     background-color: rgba(101, 174, 118, 0.187);
     border-radius: 10px;
     padding: 20px 10px 20px 40px;
     outline: none;
     margin-bottom: 15px;
     box-sizing: border-box;
     font-size: 18px;
}

input:focus, textarea:focus {
     background-color: rgba(81, 139, 96, 0.352);
}

.btn {
     position: absolute;
     right: 6%;
     background: rgba(24, 87, 58, 0.566);
     padding: 1px 10px;
     border-radius: 10px;
     width: max-content;
     color: whitesmoke;
     font-weight: bolder;
}

.btn:hover {
     cursor: pointer;
     background: rgba(14, 62, 39, 0.733);
}