@import url(index.css);

.cardLayout {
     display: flex;
     flex-flow: row wrap;
     justify-content: space-between;
     align-items: center;

     padding: 5px 10px;

     position: relative;

     .icon {
          width: 30px;
          height: 30px;
     }
}

.cardLayout::before {
     z-index: -1;
     content: '';
     width: 100%;
     height: 100%;
     position: absolute;
     top:0;
     left:0;
     background: transparent;
     border-radius: 10px;
}

.cardLayout:hover::before {
     background: var(--theme-background);
     filter: opacity(0.2)
}