@import url(index.css);

.spinner {
     height: 100%;
     width: 100%;
     background-color: whitesmoke;
     border-radius: 50%;
     border: 3px solid;
     border-top-color: rgba(0, 0, 0, 0.393);

     position: absolute;
     top: 0;
     left: 0;

     animation: spinner 600ms ease infinite;
}

@keyframes spinner {
     to {
          transform: rotate(360deg);
     }
}