@import url(index.css);

.occupation {
     font-weight: 800;
     font-size: calc(14px + 1vw);
     color: var(--theme-text);
     line-height: 1;
}

.name {
     margin: 30px 0;
     font-weight: 600;
     font-size: calc(16px + 1vw);
     color: var(--theme-text);
}

.content {
     font-size: calc(13px + 0.5vw);
}

.linkList {
     margin-top: 50px;
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     align-items: center;
     gap: 3vw;
}