@import url(index.css);

.buttonA {
     width: max-content;
     margin: 5px 0 0 0;
     padding: 5px 10px;

     display: flex;
     flex-flow: row nowrap;
     justify-content: space-between;
     align-items: center;
     gap: 0 10px;

     font-size: calc(14px + 0.5vw);

     background: var(--theme-background);
     color: white;

     border-radius: 10px;
     box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.buttonA:hover {
     filter: brightness(150%);
}